<div class="row">
  
    <h1>Socify</h1>
    <p>Socify is social collaboration platform  written using <%= fa_icon 'diamond' %> Ruby on Rails. It was customized to fit academic researchers in Tunisia . Many additional features were implemented and others are on the way

    </p>
    <p>  This project was crafted by Azzen Abidi and supervized by Mrs Yemna Sayeb</p>

</div>
